@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

input[type="time"],
input[type="date"] {
  &::-webkit-clear-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.app-page {
  display: flex;
  justify-content: center;
}
