.payment-repeat-time {
  &__field {
    width: 47px;
  }
  &__description {
    display: inline-block;
    margin-left: 20px;

    color: #93929a;
    font-weight: 500;

    font-style: italic;
  }
}
